@import "/styles/mixins.scss";
@import "/styles/variables.scss";

.navbar {
  @include flex($justify: space-between);
  @include size(80%, 10vh);  
  margin: 0 auto 10vh;

  @media only screen and (max-width: $tablet) {
    @include flex(column);
    height: initial;
    margin-bottom: 5vh;
  }

  .logo {
    @include font(normal, 700, 3rem, 3.5rem, $archivo);
    color: $blue;
  }

  .navigation {
    @include flex();

    @media only screen and (max-width: $tablet) {
      flex-direction: column;
    }

    >*:not(:first-child) {
      margin-left: 5vh;

      @media only screen and (max-width: $tablet) {
        margin: 1vh 0 0 0;
      }
    }
  }
}