@import "/styles/mixins.scss";

.button {
  @include font(normal, 400, 1rem, 1.25rem, $archivo-black);
  @include container(0.5rem 1.75rem);
  width: fit-content;
  color: $white;
  box-shadow: $shadow;
  text-transform: uppercase;

  &.black {
    background-color: $black;
  }

  &.blue {
    background-color: $blue;
  }

  &.grey {
    background-color: $grey;
  }
}