@import "/styles/mixins.scss";
@import "/styles/variables.scss";

.button {
  @include font(normal, 400, 1rem, 1.25rem, $archivo-black);
  width: fit-content;
  padding: .25rem 1.75rem;
  border-radius: $radius;
  color: $white;
  box-shadow: $shadow;
  text-transform: uppercase;

  &.black {
    background-color: $black;
  }

  &.blue {
    background-color: $blue;
  }
}