@import "/styles/mixins.scss";

.window {
  max-width: 70%;
  height: fit-content;
  box-shadow: $shadow;

  @media only screen and (max-width: $tablet) {
    max-width: 100%;
  }

  .tab {
    @include flex();
    @include container(0.75rem 1rem, $radius $radius 0 0, $blue);
    width: 100%;

    >div {
      @include size(1rem, 1rem);
      @include container(0, 50%, $yellow);
      margin-right: 1rem;

      &:first-child {
        background-color: $red;
      }

      &:last-child {
        margin-right: 0;
        background-color: $green;
      }
    }
  }

  .map_content {
    @include container(10%, 0 0 $radius $radius, $lightgrey);
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 30em 0 0 30em;

    iframe {
      position: absolute;
      top: 7.5%;
      left: 7.5%;
      bottom: 0;
      right: 0;
      width: 85%;
      height: 85%;
      border: none;
      border-radius: $radius;
    }
  }

  .content {
    @include container(10%, 0 0 $radius $radius, $lightgrey);

    img {
      border-radius: $radius;
      object-fit: cover;
    }

    .eventInfo {
      @include flex(column, $gap: 0.5rem);
      margin-top: 2rem;
      text-align: center;

      h6,
      span {
        line-height: normal;
      }

      h6 {
        @include font(normal, 400, 1rem, 1.5rem, $archivo-black);
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}