@import "/styles/variables.scss";

.title {
  margin-bottom: 4rem;
  color: $blue;
  font-weight: 500;
  line-height: 2.5rem;

  @media only screen and (max-width: $tablet) {
    margin-bottom: 2rem;
  }

  @media only screen and (max-width: $mobile) {
    inline-size: 100%;
    overflow-wrap: break-word;
  }
}
