@import "/styles/mixins.scss";

.member {
  @include flex(column, $gap: .75rem);
  line-height: normal;

  img {
    @include size(100%, 100%);
    border-radius: $radius;
    object-fit: cover;

    @media only screen and (max-width: $mobile) {
      min-height: 11rem;
    }
  }

  span:nth-child(2) {
    @include font(normal, 400, 1rem, normal, $archivo-black);
    text-transform: uppercase;
  }
  span:nth-child(3) {
    text-align: center;
  }
}