@import "/styles/mixins.scss";
@import "/styles/variables.scss";

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  img {
    width: 100%;
    border-radius: $radius;
  }

  span:nth-child(2) {
    @include font(normal, 400, 1rem, 1.5rem, $archivo-black);
    text-transform: uppercase;
    margin: .75rem 0 .25rem;
  }
}