@import "/styles/mixins.scss";

.member {
  @include flex(column, center, center);

  img {
    width: 100%;
    border-radius: $radius;
  }

  span:nth-child(2) {
    @include font(normal, 400, 1rem, 1.5rem, $archivo-black);
    margin: 0.75rem 0 0.25rem;
    text-transform: uppercase;
  }
}