@import "/styles/mixins.scss";

.listElement {
  @include flex($gap: 0.5rem);

  margin: 0.25em 0;
  
  img {
    width: 1.5em;
    height: 1.5em;
  }

  a:hover {
    text-decoration: underline 2px;
    color: $blue;
  }

  &:hover {
    color: $blue;
    filter: invert(48%) sepia(92%) saturate(2847%) hue-rotate(175deg) brightness(104%) contrast(97%);
  }
}