@import "/styles/mixins.scss";
@import "/styles/variables.scss";

.about {
  @include grid(3, 1fr, 1fr 1fr);
  min-height: 60vh;

  >div:not(.contacts) {
    justify-self: flex-end;
  }

  .contacts {
    h1 {

    }
    
    .info {
      h3 {
        @include font(normal, 400, 1.5rem, 2rem, $archivo-black);
        color: $blue;
        text-transform: uppercase;
      }
      
      >div {
        @include grid(0.5, 1fr, auto 1fr);
        margin-bottom: 0.5rem;
      }
    }

    .inline {
      @include grid(3, 1fr, auto 1fr);
    }
  }
}