@import "/styles/mixins.scss";

.event {
  @include flex($gap: 5rem);
  width: 70%;
  min-height: 60vh;
  margin: 0 auto;


  @media only screen and (max-width: $tablet) {
    @include flex(column, $gap: 5rem);
    width: 90%;
  }

  @media only screen and (max-width: $tablet) {
    >div:not(.info) {
      max-width: 100%;
    }
  }

  h2 {
    @include font($size: 1.5rem, $line: 2rem, $family: $archivo-black);
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  .info {
    width: 60%;

    @media only screen and (max-width: $tablet) {
      width: 100%;
    }

    .list {
      @include flex($gap: 2rem);
      margin: 3rem 0;
      padding: 0;

      @media only screen and (max-width: $tablet) {
        @include flex(column, flex-start, $gap: 2rem);
      }

      li {
        @include flex($gap: 0.5rem);
      }
    }

    button {
      @include container(0.5rem, 50%, $blue)
    }
  }
}