@import "/styles/mixins.scss";

.events {
  @include flex(column);
  width: 70%;
  margin: 0 auto;

  @media only screen and (max-width: $tablet) {
    width: 90%;
  }

  >button {
    @media only screen and (max-width: $mobile) {
      width: 100%;
    }
  }

  section {
    @include flex($align: flex-start, $gap: 3rem);
    width: 100%;
    margin-top: 4rem;

    @media only screen and (max-width: $tablet) {
      margin-top: 2rem;
    }

    >div:first-child {
      width: 35%;

      @media only screen and (max-width: $tablet) {
        width: 100%;
      }
    }

    .images {
      @include grid(2, 1fr, auto auto);
      width: 65%;

      @media only screen and (max-width: $tablet) {
        display: none;
      }

      >div {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}