@import "/styles/mixins.scss";

.students {
  @include flex(column, center, center);
  width: 50%;
  margin: 0 auto;

  @media only screen and (max-width: $tablet) {
    width: 90%;
  }

  @media only screen and (max-width: $mobile) {
    @include flex(column, flex-start, center);
  }

  .cable {
    position: absolute;
    top: 50vh;
    right: -5rem;
    width: 25%;

    @media only screen and (max-width: $tablet) {
      display: none;
    }
  }

  .buttons {
    @include flex($gap: 2rem);

    @media only screen and (max-width: $tablet) {
      @include flex(column, $gap: 1rem);
    }

    @media only screen and (max-width: $mobile) {
      @include flex(column, flex-start, center, 1rem);
      width: 100%;

      >button {
        width: 100%;
      }
    }
  }
}