@import "/styles/mixins.scss";

.team {
  @include flex(column, center, center);
  width: 70%;
  margin: 0 auto;

  @media only screen and (max-width: $tablet) {
    width: 90%;
  }

  .buttons {
    @include flex();
    gap: 2rem;

    @media only screen and (max-width: $tablet) {
      @include flex(column);
    }
  }

  .list {
    @include grid(3, 1fr, repeat(auto-fill, minmax(10rem, 1fr)));
    margin-top: 4rem;

    @media only screen and (max-width: $tablet) {
      @include grid(1, 1fr, repeat(auto-fill, minmax(8rem, 1fr)));
      margin-top: 2rem;
    }
  }
}