@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

$black: #070417;
$grey: #C2CCD1;
$lightgrey: #F3F4F8;
$white: #FFF;
$blue: #04A4FA;
$red: #EA3D32;
$yellow: #F0B348;
$green: #49E242;

$radius: 1rem;

$archivo: 'Archivo', sans-serif;
$archivo-black: 'Archivo Black', sans-serif;

$shadow: 0.25rem 0.25rem 2.5rem -2rem rgba(0, 0, 0, 0.5);

$mobile: 30rem;
$tablet: 48rem;
$desktop: 64rem;
